 body{background-image:url("http://fc05.deviantart.net/fs70/f/2009/346/e/b/Suicune_Wallpaper_by_Super_Bastard.jpg");background-repeat:no-repeat;background-position:center}
 
 .chat-log{font-size:10pt;background: url("http://img.pokemondb.net/artwork/suicune.jpg") no-repeat scroll right bottom;background:#ff895c;color:#000;overflow:auto;} 
